SUPABASE_URL=https://cvfhbyxweoicfpjzpymj.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_yrK_RULsN2Npa7VuC9nkpw_h0_TtcRK
DATA_GOV_AGENT_RESOURCE_ID=d_07c63be0f37e6e59c07a4ddc2fd87fcb
DATA_GOV_TXN_RESOURCE_ID=d_ee7e46d3c57f7865790704632b0aef71
